/* Banner container */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    position: relative;
    width: 100%;
    height: 60vh;
    margin: 0 auto;
    background-size: cover;
    background-color: #00000033 ;
    overflow: hidden;
}

/* Video element */
.banner video {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
   
}

/* Banner text overlay */
.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    padding: 0 1rem;
    max-width: 90%;
    
}

.banner-btn {
    margin-top: 20px;
    padding: 10px 24px;
    background: #444;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.title{
    font-size: 80px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;

}
.description{
    max-width: 600px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.hero-btn {
    padding: 15px 23px;
    color: white;
    background-color: #FFFFFF24;
    margin-top: 106px;
    border-radius: 8px;
    border: none;
}

/* Text sizes for Desktop */
@media (min-width: 1280px) {
    .banner-text h1 {
        font-size: 3rem;
    }
     

    .banner-text p {
        font-size: 1.5rem;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1279px) {
     .banner {
        height: auto;
         
    }

    .title {
        font-size: 40px;
    }
    .banner-text h1 {
        font-size: 2.5rem;
    }
    

    .banner-text p {
        font-size: 1.2rem;
    }
}

/* Mobile */
@media (max-width: 767px) {
    .banner{
        height: auto;

    }
    .title{
        margin-top: 5px;
    }
    .description{
        /* margin: 0px;
        padding: 0px; */
        width: auto;
    }
    .banner-text h1 {
        font-size: 1.5rem;
    }
   
    .banner-text p {
        font-size: .9rem;
        width: auto;
    }
    .hero-btn{
        margin-top: 10px;
    }
}