/* Banner container */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    position: relative;
    width: 100%;
    height: 60vh;
    margin: 0 auto;
    overflow: hidden;
    background-size: cover;
}

/* Video element */
.banner video {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

/* Banner text overlay */
.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    padding: 0 1rem;
    max-width: 90%;
    
     
}

.banner-btn {
    margin-top: 20px;
    padding: 10px 24px;
    background: #444;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}
 
/* Text sizes for Desktop */
@media (min-width: 1280px) {
    .banner-text h1 {
        font-size: 3rem;
    }

    .banner-text p {
        font-size: 1.5rem;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1279px) {
    .banner-text h1 {
        font-size: 2.5rem;
    }

    .banner-text p {
        font-size: 1.2rem;
    }
}

/* Mobile */
@media (max-width: 767px) {
    .banner-text h1 {
        font-size: 1.8rem;
    }

    .banner-text p {
        font-size: 1rem;
    }
}