#cards-container {
    margin-top: 80px;

    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    /* grid-template-columns: repeat(3, minmax(0, 425px)); */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

/* card-section styles */
.card-section {
    margin-top: 80px;
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 24px;
}


.card {
    /* max-width: 425px; */
    width: 425px;
    height: 260px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0;
}

.card-header {
    display: flex;
    align-items: center;
    padding-top: 24px;
    gap: 12px;
}

.card-audio {
    display: block;
    margin: 0 auto;
}

.card-title {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

.card-buttons {
    display: flex;
    gap: 8px;
    margin: 0;
    padding: 0;
}

.btn-icon {
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 10px;
    background-color: #EAEFF2;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    color: #777980;
    margin: 0;
    transition: background 0.2s;
}

.card-logo {
    width: 80px;
    height: 80px;
    border-radius: 12px;
    border: 2px;
    object-fit: cover;
    margin-left: 12px;
}

.btn:hover {
    background-color: #d9e1e6;
}

/* Tablet: 768px - 1024px */
@media (max-width: 1024px) {
    #cards-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }

    .card {
        width: 100%;
        height: auto;

    }
}

/* Mobile: below 768px */
@media (max-width: 767px) {
    #cards-container {
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .card {
        margin-top: 80px;
        width: 425px;
        height: auto;
    }

    .card-logo {
        width: 60px;
        height: 60px;
        margin-left: 25px;
    }

    .card-title {
        font-size: 24px;
    }


}