.layout-container {
    margin-top: 160px;
    /* width: 1920px;
    height: 898px; */
    width: 100%;
    max-width: 1320px;
    /* margin: 160px auto 0 auto; */
    margin-left: auto;
    margin-right: auto;
    padding: 0 12px;
}

.content-wraper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* width: 1320px;
    height: 114px; */
    margin-bottom: 24px;
}

.content {
    width: 455px;
    height: 114px;
    display: block;

}

.content-title {
    font-size: 56px;
    font-weight: bold;
    color: rgba(29, 31, 44, 1);
}

.content-subtitle {
    font-size: 18px;
    margin-top: 8px;
    max-width: 400px;
    color: rgba(119, 121, 128, 1);
}

.cta {
    display: flex;
    align-items: flex-end;
}

.btn {
    width: 195px;
    height: 48px;
    background-color: rgba(29, 31, 44, 1);
    color: white;
    border: none;
    padding: 10px 32px;
}

/* card-layout section */
.card-grid {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 280px;
    gap: 12px;
    background-color: rgba(248, 242, 234, 1);
}

.layout-card.big {
    grid-column: span 2;
    border-radius: 16px;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), transparent);
}
 
    
 

.layout-card.small {
    grid-column: span 1;
}

.layout-card {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.layout-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 12px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
    color: #fff;
}