.section {
    margin-top: 80px;
    width: 75%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding: 0 16px;
}

.sound-title {
    font-size: 56px;
    font-weight: 700;
}

.sound_description {
    margin-bottom: 18px;
    color: rgba(119, 121, 128, 1);
}

.sound-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
     
}


.buttons {
    display: flex;
    align-items: stretch;
    gap: 5px;
}

.btn {
    width: 111px;
    height: 48px;
    background-color: rgba(234, 239, 242, 1);
    color: rgba(119, 121, 128, 1);
    justify-content: center;
    align-items: center;
    display: inline-flex;
    font-size: 16px;
    font-weight: 500;
    padding: 11px 16px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
   
   
}

button {
    width: 185px;
    height: 48px;
    background-color: rgba(29, 31, 44, 1);
    color: rgba(255, 255, 255, 1);
    padding: 8px 24px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    white-space: nowrap;
    margin-left: 15px;

}

.icon {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 16px;
    gap: 10px;
    width: 52px;
    height: 48px;
    background: #EAEFF2;
    border: 1px solid #EAEFF2;
    border-radius: 0px 8px 8px 0px;

}



/* Tablet: 768px - 1279px */
@media (min-width: 768px) and (max-width: 1279px) {
    .sound-section {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }
    .sound-title {
        font-size: 29px;
    }
}

/* mobile stack */
@media (max-width: 767px) {
    .sound-section {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .sound-title {
        font-size: 30px;
        /* smaller on mobile */
    }
   
}

