/* GENERAL NAV STYLES --------- */
.navbar {
    /* width: calc(100% - 600px);
    margin: 0 auto; */
    display: flex;
    align-items: center;
    justify-content: space-between;

}


/* NAV LINKS (Desktop) */
.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.nav-links li a {
    text-decoration: none;
    color: #000;
    font-weight: 500;

}

.nav-links .btn {
    padding: 0.5rem 1.2rem;
    background-color: #000;
    color: #fff;
    border-radius: 4px;
    margin-left: 2.5rem;
}


/* RESPONSIVE -- */
/* TABLET + MOBILE */
@media (max-width: 768px) {

    /* When active */
    .nav-links.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}

/* DESKTOP */
@media (min-width: 1280px) {
    .navbar {
        width: 1320px;
        /* 300px gaps on each side */
        height: 105px;
        margin: 0 auto;

    }

    .logo img {
        height: 95px;
        width: 140px;

    }
}

/* TABLET  */
@media (min-width: 768px) and (max-width: 1280px) {
    .navbar {
        width: calc(100% - 200px);
        height: 90px;
        margin: 0 auto;
    }

    .logo img {
        height: 75px;
        width: 100px;
    }
}

@media (max-width: 768px) {
    .navbar {
        width: 90%;
        height: 70px;
        margin: 0 auto;
    }

    .logo img {
        height: 70px;
        /* smaller than navbar height */
        width: 90px;
        /* maintain aspect ratio */
    }
}